#authorization_window {
    top: 50px;
    left: 123px;
    font-family: dvsm, 'consolas', cursive;
    position: fixed;
    width: 300px;
    height: 450px;
    background-color: white;
    border: 1px solid black;
}

#authorization_caption {
    padding-top: 5px;
    padding-left: 7px;
    color: white;
    width: 293px;
    height: 25px;
    background-color: black;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    cursor: move;
}

#authorization_caption_title {
    max-width: calc(100% - 25px);
    height: 25px;
    overflow: hidden;
    white-space: nowrap;
}

#authorization_container {
    width: calc(100% + 15px);
    padding-bottom: 10px;
    position: relative;
    background-color: white;
    height: calc(100% - 80px);
    overflow: hidden;
}

.form-container {
    height: 100%;
    padding-left: 10px;
    width: calc(100% - 50px);
    text-decoration: none;
    vertical-align: middle;
}

.form-field {
    border: 2px solid #7A7A7A;
    background: #ffffff;
    border-radius: 0px;
    color: #000000;
    padding:8px;
    margin-bottom: 5px;
    width: calc(100% - 15px);
}
.form-field:focus {
    background: #fff;
    color: #1f1f1f;
}
.form-container h2 {
    text-shadow: #fdf2e4 0 1px 0;
    font-size:18px;
    margin: 0 0 10px 0;
    font-weight:bold;
    text-align:center;
}
.form-title {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 14px;
    text-shadow: #fdf2e4 0 1px 0;
}

.submit-container {
    background-color: lightgray;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 35px;
}

.submit-button {
    border: 4px solid #a09dad;
    background: #ffffff;
    text-shadow: #ffffff 0 1px 0;
    color: #000000;
    margin-top: 2px;
    padding: 3px 18px;
    font-size: 14px;
    text-decoration: none;
    vertical-align: middle;
}

.submit-button:hover {
    border: 4px solid black;
}

.submit-button:active {  }


.optional {
    color: dimgrey;
}