.no_select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
    user-drag: none;
    cursor: default;
}

.hand {
    cursor: hand;
}

.pointer {
    cursor: pointer;
}

.text_align_center {
    text-align: center;
}